<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>文件导入</title>
</head>
<body>
<form id="problemForm" action="#(ctx)/problem/importExcel" method="post" enctype="multipart/form-data">
	导入质量安全：<input type="file" class="form-control" name="file"/>
	<input class="btn btn-primary" type="submit" value="提交" />
</form>
<br/>
<form id="workForm" action="#(ctx)/work/importExcel" method="post" enctype="multipart/form-data">
	导入劳务工人：<input type="file" class="form-control" name="file"/>
	<input class="btn btn-primary" type="submit" value="提交" />
</form>
</body>
</html>