<a id="token-btn" href="#modal-table" role="button" data-toggle="modal" style="display: none;"></a>
<div id="modal-table" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header no-padding">
				<div class="table-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<span class="white">&times;</span>
					</button>
					访问授权
				</div>
			</div>

			<div class="modal-body no-padding">
				<table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
					<thead>
						<tr>
							<th>授权码</th>
							<th>登录时间</th>
							<th>登录IP</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="token-tbody">
						<tr><td colspan="4" align="center">暂无记录</td></tr>
					</tbody>
				</table>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<script type="text/javascript">
function getAuthToken(appId) {
	$.ajax({
		url: "#(ctx)/admin/app/getAuthToken?id="+appId,
		type: "GET",
		dataType: "json",
		async: false,
		success: function(tokens){
			showAuthToken(appId, tokens);
			$("#token-btn").click();
		},
		error: function(ret){ alert(ret.statusText); }
	});
}

function showAuthToken(appId, tokens) {
	var html = "";
	for (var i=0; i<tokens.length; i++) {
		html += createTR(appId, tokens[i], i+1);
	}
	if (html.length > 0) {
		$("#token-tbody").empty();
		$("#token-tbody").append(html);
	}
}

function createTR(appId, obj, i) {
	return '<tr id="token-tr-'+i+'">'+createTD(appId, obj, i)+'</tr>';
}

function createTD(appId, obj, i) {
	var html = '<td>'+obj.authToken+'</td>' 
             + '<td>'+obj.loginAt+'</td>' 
             + '<td>'+obj.loginIp+'</td>'
             + '<td><a href="javascript:delAuthToken('+appId+','+i+');">删除</a></td>';
	return html;
}

function delAuthToken(appId, i) {
	layer.confirm("确定删除吗？", {
		icon: 0
		, title:''                   // 设置为空串时，title消失，并自动切换关闭按钮样式，比较好的体验
		, shade: 0.4
		, offset: "139px"
	}, function(index) {             // 只有点确定后才会回调该方法
		doDelAuthToken(appId, i);
		layer.close(index);          // 需要调用 layer.close(index) 才能关闭对话框
	});
}

function doDelAuthToken(appId, i) {
	var tr = $("#token-tr-"+i);
	var authToken = tr.find("td:first-child").text();
	$.ajax({
		url: "#(ctx)/admin/app/delAuthToken",
		type: "POST",
		dataType: "json",
		data: {
			"appId":appId,
			"authToken":authToken
		},
		success: function(ret){
			if (ret.state == "ok") {
				tr.empty();
			} else {
				showFailMsg(ret.msg);
			}
		},
		error: function(ret){ alert(ret.statusText); }
	});
}
</script>